<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/util  http://www.springframework.org/schema/tx/spring-util-2.0.xsd              
              http://www.springframework.org/schema/context 
              http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="com.jgui.ttscrape" />
	<context:annotation-config />

  <context:property-placeholder location="classpath:ttconfig.properties"/>
  
	<bean id="fetcher" class="com.jgui.ttscrape.htmlunit.TitanTvPageFetcher">
		<property name="login" value="${account.login}" />
		<property name="password" value="${account.password}" />
	</bean>

	<bean id="fetchController" class="com.jgui.ttscrape.htmlunit.FetchController">
		<property name="writeShows" value="false" />
	</bean>

  <bean id="websocket" class="com.jgui.ttscrape.webclient.MyWebSocketHandler" />

  <bean id="filter" class="com.jgui.ttscrape.IgnoreListFilter">
    <property name="ignoreFile" value="config/titlestoignore.txt"/>
  </bean>
    
  <bean id="looker" class="com.jgui.ttscrape.LookOutFor">
    <property name="titlesToFindFile" value="config/titlestolookfor.txt"/>
  </bean>

  <bean id="sports" class="com.jgui.ttscrape.ConfigurableSportsPostProcessor">
    <property name="category" value="Sports"/>
    <property name="contains">
      <list>
        <value>Philadelphia Eagles</value>
        <value>Phillies</value>
        <value>Philadelphia Flyers</value>
        <value>!Post Game</value>
        <value>!Charlie Manuel</value>
        <value>!Broad Street Bullies</value>
      </list>
    </property>
  </bean>

  <bean id="webController" class="com.jgui.ttscrape.webclient.TTScrapeController">
    <property name="port" value="${http.port}" />
  </bean>
  
	<!--<bean id="writer" class="com.jgui.ttscrape.TextualShowWriter" />-->
	<bean id="writer" class="com.jgui.ttscrape.webclient.WebShowWriter"/>

	<bean id="jettyserver" class="com.jgui.ttscrape.webclient.JettyServer">
		<property name="port" value="${http.port}" />
		<property name="resourceBase" value="webapp" />
		<property name="handlers">
			<map>
				<entry key="wsock" value-ref="websocket"/>
				
				<entry key="context:static">
					<bean class="org.eclipse.jetty.server.handler.ResourceHandler">
						<property name="resourceBase" value="webapp/static" />
						<property name="directoriesListed" value="true" />
					</bean>
				</entry>
				<entry key="context:ttscrape">
					<bean class="com.jgui.ttscrape.webclient.VelocityHandler">
						<property name="delegate" ref="webController"/>
					</bean>
				</entry>
			</map>
		</property>
	</bean>

</beans>